<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Conferencia" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="nuevaconferencia" class="btn btn-outline-dark">Nueva Conferencia</a>
          </h5>
          <h5 class="mb-3 mt-4">
            <button (click)="abrirInforme()" class="btn btn-outline-dark">Abrir Informe</button>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Ubicacion</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (asistente of listaAsistentes; track $index) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>{{ asistente.nombre }}</td>
                      <td>{{ asistente.fecha }}</td>
                      <td>{{ asistente.descripcion }}</td>
                      <td>{{ asistente.ubicacion }}</td>
                      <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/editarconferencia/', asistente.conferencia_id]">
                          Editar
                        </button>
                        <button (click)="eliminar(asistente.conferencia_id)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  <!--
    LOS COMPONENTES (.TS) ESTAN OBLIGADOS A IMPORTAR LA REFERENCIA PARA QUE SE PUEDA USAR EN EL HTML
    -->
  
